<!doctype html>
<html>

<head>
    <title>全部文章</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 5px;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            color: blue;
            text-decoration: none;
        }

        a:hover {
            color: red;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Articles List<h1>
            <div>
                <table>
                    <th>
                        <tr>
                            <th>title</th>
                            <th>published_time</th>
                        </tr>
                    </th>
                    <tbody>
                        {% for article in articles_sorted %}
                        <tr>
                            <td><a href="{{ article.link }}">{{ article.title }}</a></td>
                            <td>{{ article.published_parsed }}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
</body>

</html>
