<!doctype html>
<html>

<head>
    <title>RSS 订阅</title>
    <!-- <link rel="stylesheet" href="./feeds_list.css"> -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 5px;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            color: blue;
            text-decoration: none;
        }

        a:hover {
            color: red;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Feeds List<h1>
            <div>
                <table>
                    <th>
                        <tr>
                            <th>Feed ID</th>
                            <th>title</th>
                            <td>tag</td>
                            <td>added_time</td>
                        </tr>
                    </th>
                    <tbody>
                        {% for feed in feeds %}
                        <tr>
                            <td>{{ feed.id }}</td>
                            <td><a href="feeds_list/{{ feed.id }}">{{ feed.title }}</a></td>
                            <td>{{ feed.tag }}</td>
                            <td>{{ feed.updated_at }}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
</body>

</html>
